packages
build
.*.old
*.bin
*.map
*.elf
*.pyc
*.dblite
cconfig.h
.DS_Store
config/*_Kconfig
*.xlsx
*.pdsc
soc_config.py
pin_get.py
*.uvguix.*
.vscode
DebugConfig
*.scvd
JLinkLog.txt
JLinkSettings.ini
